{% extends 'base.html' %}
{% load static %}

{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}
{% block title %}Редактировать профиль{% endblock %}
{% block content %}
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10"><h1>{{ user.username }}</h1></div>

        </div>
        <div class="row">
            <div class="col-sm-3"><!--left col-->


                <div class="text-center">
                    {% if user.profile.avatar == '' %}
                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                             class="avatar img-circle img-thumbnail"
                             alt="avatar">
                    {% else %}
                        <img src="{{ user.profile.avatar.url }}" class="avatar img-circle img-thumbnail"
                             alt="avatar" style="height: 202px;width: 202px;">
                    {% endif %}
                </div>

                <br>

                <ul class="list-group">
                    <li class="list-group-item text-muted">Статистика<i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Понравилось публикаций</strong></span>{{ user.likes.count }}
                    </li>
                    <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Публикаций</strong></span> {{ current_article.count }}
                    </li>
                </ul>
                <br>
                {% if user.id == current_user %}
                    <form action="{% url 'userprofile:profile_page' current_user %}" method="post">
                        {% csrf_token %}
                        <button class="btn badge-info">Редактировать
                        </button>
                    </form>
                {% endif %}


            </div><!--/col-3-->
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Общие</a></li>
                    <li><a data-toggle="tab" href="#settings">Публикации</a></li>
                    <li><a data-toggle="tab" href="#messages">Понравившееся публикации</a></li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="home">

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>Имя</h4></label>
                                <input type="text" class="form-control" name="first_name" id="first_name"
                                       placeholder="Имя" value="{{ user.first_name }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name"><h4>Фамилия</h4></label>
                                <input type="text" class="form-control" name="last_name" id="last_name"
                                       placeholder="Фамилия" value="{{ user.last_name }}" readonly>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="birth"><h4>Дата рождения</h4></label>
                                <input type="date" class="form-control" id="birth" name="date_br" required
                                       value="{{ user.profile.birth_date.isoformat }}" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="gender"><h4>Пол</h4></label>
                                <input type="text" class="form-control" name="last_name" id="gender"
                                       placeholder="Пол" value="{{ user.profile.gender_choice }}" readonly
                                       style="min-height: 34px; min-width: 225px;">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="bio"><h4>О себе</h4></label>
                                <textarea id="bio" name="bio" readonly
                                          class="form-control">{{ user.profile.bio }}</textarea>
                            </div>
                        </div>


                        <hr>

                    </div><!--/tab-pane-->
                    <div class="tab-pane" id="messages">

                        <div class="album py-5 bg-light">
                            <br>
                            <div class="row">
                                {% for article in liked_article %}
                                    <div class="col-md-4">
                                        <div class="card mb-4 shadow-sm">

                                            <img class="bd-placeholder-img card-img-top" focusable="false"
                                                 role="img"
                                                 width="100%" height="100%" src="{{ article.article_poster.url }}">


                                            <div class="card-body">

                                                <p class="card-text">{{ article.article_title }}
                                                    {% if article.was_published_recently %}
                                                        <span class="badge badge-secondary">Новая статья!</span></p>
                                                    {% endif %}
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <form action="{% url 'articles:article' article.id %}">
                                                            <button type="submit"
                                                                    class="btn btn-sm btn-outline-secondary">
                                                                Посмотреть
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <small class="text-muted">{{ article.article_date }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                </div>
                    <div class="tab-pane" id="settings">


                        <div class="album py-5 bg-light">
                            <br>
                            <div class="row">
                                {% for article in current_article %}
                                    <div class="col-md-4">
                                        <div class="card mb-4 shadow-sm">

                                            <img class="bd-placeholder-img card-img-top" focusable="false"
                                                 role="img"
                                                 width="100%" height="100%" src="{{ article.article_poster.url }}">


                                            <div class="card-body">

                                                <p class="card-text">{{ article.article_title }}
                                                    {% if article.was_published_recently %}
                                                        <span class="badge badge-secondary">Новая статья!</span></p>
                                                    {% endif %}
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <form action="{% url 'articles:article' article.id %}">
                                                            <button type="submit"
                                                                    class="btn btn-sm btn-outline-secondary">
                                                                Посмотреть
                                                            </button>
                                                        </form>
                                                    </div>
                                                    <small class="text-muted">{{ article.article_date }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div><!--/tab-pane-->
            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
{% endblock %}
